
<div class="padding2v content">
	<%= form_for @post, :url => { :controller => "blogs", :action => "create" }, :html => {:method => :post} do |post| %>
	    <%= post.text_field :title, placeholder: "Title" %>
	    <%= post.text_area :content, class: "height20", placeholder: "Content" %>
	    <%= post.text_field :image, placeholder: "Image URL" %>
	    <%= post.submit %>
	<% end %>
</div>