<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,300,400,600,400italic|Merriweather:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topbar">
  <div class="row">
    <div class="large-6 columns content text-left">
      <p class="topbartext">Support Contact: 0845 676 9114</p>
    </div>
    <div class="large-6 columns content text-right">
      <p class="topbartext"><a href="http://www.besleyandcopp.co.uk/">besley &amp; copp</a> website</p>
    </div>
  </div>
</div>

<div class="headercontainer">
  <div class="row lineheight0" data-equalizer>
    <div class="icon-bar five-up">
      <a class="item" href="<%= fronts_features_path %>" data-equalizer-watch>
        <label>FEATURES</label>
      </a>
      <a class="item" href="<%= fronts_getstarted_path %>" data-equalizer-watch>
        <label>GET STARTED</label>
      </a>
      <a class="item selected" href="<%= root_path %>" data-equalizer-watch>
        <%= image_tag("panellogo.png") %>
      </a>
      <a class="item" href="<%= helpdesks_path %>" data-equalizer-watch>
        <label>HELPDESK</label>
      </a>
      <a class="item" href="<%= blogs_index_path %>" data-equalizer-watch>
        <label>BLOG</label>
      </a>
    </div>
  </div>
</div>
  

  <div class="narrow">
    <div class="large-12 columns content">
      <% if flash[:notice] %>
        <div data-alert class="alert-box success radius content">
          <%= notice %>
          <a href="" class="close">&times;</a>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div data-alert class="alert-box alert radius content">
            <%= alert %>
          <a href="" class="close">&times;</a>
        </div>
      <% end %>
    </div>
  </div>




<%= yield %>



<div class="footercontainer desktopfooter">
  <div class="row">
    <div class="large-4 columns text-center">
      <img class="margin4v" src="http://i.imgur.com/DihYt8r.png">
    </div>
    <div class="large-1 columns">
      <br>
    </div>
    <div class="large-2 columns text-left center">
      <p class="footertextp margin2t"><b class="footertext1">Address</b><br>
      besley &amp; copp limited<br>
      7 Orchard Court, Heron Road<br>
      Sowton Industrial Estate<br>
      Exeter, Devon, EX2 7LL
      <div class="text-left footersocial margin2b">
        <a href="http://www.facebook.com/pages/besley-and-copp/390339894371512"><%= image_tag("facebook.png", class: "margin08em") %></a>
        <a href="http://www.twitter.com/besleyandcopp/"><%= image_tag("twitter.png", class: "margin08em") %></a>
        <a href="http://www.linkedin.com/company/1290683/"><%= image_tag("linkedin.png", class: "margin08em") %></a>
        <a href="http://www.youtube.com/besleyandcopp/"><%= image_tag("youtube.png", class: "margin08em") %></a>
      </div></p>

    </div>
    <div class="large-1 columns">
      <br>
    </div>
    <div class="large-1 columns">
      <br>
    </div>
    <div class="large-2 columns">
      <p class="footertextp margin21v"><b class="footertext1">Support</b>
      0845 676 9114<br>
      support@besleyandcopp.co.uk<br>
      <b class="footertext1">Accounts</b>
      01392 477137<br>
      accounts@besleyandcopp.co.uk</p>
    </div>
    <div class="large-1 columns">
      <br>
    </div>
  </div>
</div>

<div class="footercontainer mobilefooter">
  <div class="row">
    <div class="large-4 columns text-center">
      <img class="margin2v" src="http://i.imgur.com/DihYt8r.png">
    </div>
    <div class="large-1 columns">
      <br>
    </div>
    <div class="large-2 columns text-center center">
      <p class="footertextp margin2t"><b class="footertext1">Address</b><br>
      besley &amp; copp limited<br>
      7 Orchard Court, Heron Road<br>
      Sowton Industrial Estate<br>
      Exeter, Devon, EX2 7LL
      <div class="text-center footersocial">
        <a href="http://www.facebook.com/pages/besley-and-copp/390339894371512"><%= image_tag("facebook.png", class: "margin08em") %></a>
        <a href="http://www.twitter.com/besleyandcopp/"><%= image_tag("twitter.png", class: "margin08em") %></a>
        <a href="http://www.linkedin.com/company/1290683/"><%= image_tag("linkedin.png", class: "margin08em") %></a>
        <a href="http://www.youtube.com/besleyandcopp/"><%= image_tag("youtube.png", class: "margin08em") %></a>
      </div></p>

    </div>
    <div class="large-1 columns">
      <br>
    </div>
    <div class="large-1 columns">
      <br>
    </div>
    <div class="large-2 columns text-center">
      <p class="footertextp margin1v"><b class="footertext1">Support</b>
      0845 676 9114<br>
      support@besleyandcopp.co.uk<br>
      <b class="footertext1">Accounts</b>
      01392 477137<br>
      accounts@besleyandcopp.co.uk</p>
    </div>
    <div class="large-1 columns">
      <br>
    </div>
  </div>
</div>

    <script src="assets/javascripts/application.js"></script></script>
    <script>
      $(document).foundation();
    </script>

</body>
</html>
