
<div class="padding2v content2">
	<%= form_for @post do |guide| %>
	    <%= guide.text_field :title %>
	    <%= guide.text_area :content %>
	    <%= guide.text_field :image %>
	    <%= guide.submit %>
	<% end %>
</div>