
<div class="row lightcontainer">
  <p class="margin2v"></p>
</div>

<div class="row lightcontainer" data-equalizer>
  <div class="large-10 columns text-left main1desktop">
    <div class="main1container">
    </div>
  </div>
  <div class="large-10 columns text-left main1mobile center">
    <div class="">
      <p class="blurcontainer whitetextsmall3 textmobilepadding">Our Web to Print eSupply Portal will revolutionise your business. In its simplest form, it is the future for print management, but it has the potential to transform the way that your business manages procurement and supply across your entire organisation.</p><br>
      <div class="large-12 columns text-center">
        <a href="besleyvideo.mp4"><img class="imghover antimove margin2v text-center" src="img/main1.2mobile.png" data-equalizer-watch></a>
      </div>
    </div>
  </div>
  <div class="large-2 columns text-center">
    <div class="purplecontainer">
      <a href="http://portal.esupplyportal.co.uk"><%= image_tag("main3.png", class: "imghover nomobile antimove") %></a>
    </div>
    <div class="pinkcontainer">
       <a href="JavaScript:livechatPopup('http://besleyandcopp.co.uk/esupply/livechat/php/app.php?widget-mobile');"><%= image_tag("main2.png", class: "imghover nomobile antimove") %></a>
    </div>
  </div>
</div>


<div class="row lightcontainer" data-equalizer>
  <div class="large-4 columns center pinkcontainer">
    <a href=""><div data-equalizer-watch><%= image_tag("sub1.png", class: "imghover antimove") %></a></div>
  </div>
  <div class="large-4 columns center cyancontainer">
    <a href=""><div data-equalizer-watch><%= image_tag("sub2.png", class: "imghover antimove") %></div></a>
  </div>
  <div class="large-4 columns sub3desktop right purplecontainer" data-equalizer-watch>
    <div class="row imghover connectcontainer">
      <div class="large-6 columns">
        <br>
      </div>
      <div class="large-6 columns">
        <ul class="social-inline-list">
          <li><a href="http://www.facebook.com/pages/besley-and-copp/390339894371512"><%= image_tag("sub3-fb.png") %></a></li>
          <li><a href="http://www.twitter.com/besleyandcopp"><%= image_tag("sub3-twt.png") %></a></li>
          <li><a href="http://www.linkedin.com/company/1290683/"><%= image_tag("sub3-lnk.png") %></a></li>
          <li><a href="http://www.youtube.com/besleyandcopp/"><%= image_tag("sub3-yt.png") %></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="large-4 columns sub3mobile center purplecontainer">
    <a href="http://www.twitter.com/besleyandcopp"><img class="imghover antimove" src="img/sub3mobile.png"></a>
  </div>
</div>

<div class="row rowmargin1 lightcontainer">
  <div class="large-8 columns textcontent margin1t05b">
    <h2 class="introtitle">The Future of Print Management</h2>
    <p class="thin">Designed specifically for the Franchise industry, the eSupply Portal is your ideal web-based partner, empowering your network to personalise, order and distribute brand-specific products and services quickly and effectively.</p>
    <p class="thin">Whether you need to deliver a one-off marketing initiative or a full scale national campaign, the eSupply Portal will give your organisation the ability to centralise the procurement process and provide a fully regionalised product range quickly and effectively.</p>
    <p class="thin">The beauty of your eSupply Portal is that it’s all wrapped up in your company's look &amp; feel appealing to every user as a seamless and completely integral part of your business. With no additional hardware or software requirements apart from a computer and a modern browser, we've even taken the technical pain away!</p>
  </div>
  <div class="large-4 columns content center">
    <div class="margin2v">
      <a class="twitter-timeline" height="290px" href="https://twitter.com/besleyandcopp" data-widget-id="448458777407131649">Tweets by @besleyandcopp</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
  <div class="row lightcontainer content ">
    <div class="large-12 columns content cyancontainer text-center center">
      <h5 class="margin3t whitetextsmall3 thin">If you are a franchisor or you look after a similar multi-site organisation, then why not <b>call us today for a no-obligation chat.</b><br>
        <h3 class="margin2b whitetextsmall3 mli">0845 676 9114</h3></div></h5>
    </div>
  </div>
</div>


<div class="row lightcontainer" >
  <div class="large-4 columns content">
    <div class="blackheader"><center><h5 class="blackheadertext2"><b>Operational savings</b></h5></center></div>
    <div class="panel">
      <ul class="disc">
        <li><p>Maximise savings across your network</p></li>
        <li><p>Centralise and manage your buying</p></li>
        <li><p>Reduce central administration costs</p></li>
      </ul>
    </div>
  </div>
  <div class="large-4 columns content">
    <div class="blackheader"><center><h5 class="blackheadertext2"><b>Control</b></h5></center></div>
    <div class="panel">
        <ul class="disc">
          <li><p>Protect your brand identity and integrity</p></li>
          <li><p>Empower regional management</p></li>
          <li><p>Improve financial control</p></li>
      </ul>
    </div>
  </div>
  <div class="large-4 columns content">
    <div class="blackheader"><center><h5 class="blackheadertext2"><b>Flexibility</b></h5></center></div>
    <div class="panel">
        <ul class="disc">
          <li><p>Cloud-based 24/7 365 solution</p></li>
          <li><p>The power to personalise</p></li>
          <li><p>Scalable and modular platform</p></li>
      </ul>
    </div>
  </div>
</div>

<div class="row purplecontainer padding5v">
  <div class="row">
    <div class="large-12 columns content text-center">
      <h2 class="popularline thin">With a service so flawless, our popularity is no surprise.</h2>
      <p class="whitetextsmall mli">Select a brand to see how we revolutionised their business</p>
    </div>
  </div>
  <div class="row purplecontainer">
    <div class="large-4 columns content text-center">
      <a href="<%= fronts_casestudybosch_path %>"><center class="desktoplogos logomargin boschlogo"></center><img class="logomargin mobilelogos" src="img/boschlogo.png"></a>
    </div>
    <div class="large-4 columns content text-center">
      <a href="<%= fronts_casestudyservicemaster_path %>"><center class="desktoplogos logomargin servicemasterlogo"></center><img class="logomargin mobilelogos" src="img/servicemasterlogo.png"></a>
    </div>
    <div class="large-4 columns content text-center">
      <a href="<%= fronts_casestudythebestof_path %>"><center class="desktoplogos logomargin thebestoflogo"></center><img class="logomargin mobilelogos" src="img/thebestoflogo.png"></a>
    </div>
  </div>
</div>

<div class="row lightcontainer">
  <p class="margin2v"></p>
</div>